[submodule "zsh/oh-my-zsh.link"]
	path = zsh/oh-my-zsh.link
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "emacs/emacs.d.link"]
	path = emacs/emacs.d.link
	url = git@github.com:tomasherman/prelude.git
